footer {background-color: rgb(67, 204, 129);}
h1 {border-color: aquamarine;}
footer  {color: (241, 114, 76);
        width: 500px;
        border: 1px solid rgb(169, 248, 149);
        text-align: center;
    }
    header { text-align: center;
             color: lightgreen;}
             main {text-align: center;
            color: coral;}ss